body {
  background-color: #212121;
}

div.messages {
  width: 80%;
  padding: 10px;
  font: 25px "Segoe UI", sans-serif;
  color: #ececec;
  line-height: 1.5;
  tab-size: 4;
  border-radius: 20px;
  margin: auto;
}

.App {
  text-align: center;
  width: 100%;
}

p {
  background-color: #323232;
  padding: 10px;
  border-radius: 10px;
}

p.user {
  text-align: right;
  width: 80%;
  margin-left: 20%;
}

p.assistant {
  text-align: left;
  width: 80%;
}

input.prompt {
  background-color: #2f2f2f;
  width: 80%;
  font: 25px "Segoe UI", sans-serif;
  color: #ececec;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  border-width: 0;
}

button.send {
  color: #2f2f2f;
  font: 25px "Segoe UI", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  border-radius: 30px;
  background-color: #676767;
}
